#/usr/lib/systemd/system/kodilauncher.service
[Unit]
Description=Raspberry fan controller

[Service]
Type=simple
PIDFile=/run/raspberry-fan.pid
ExecStart=/usr/local/bin/raspberry-fan
User=pi
Group=pi
WorkingDirectory=/home/pi
Restart=always
RestartSec=10
#KillMode=mixed
   
[Install]
WantedBy=multi-user.target
#systemctl enable kodilauncher.service
#systemctl daemon-reload
#systemctl restart kodilauncher.service

